
build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
.browse.VC*
.vscode
cmake-build-*/
.vs
*.user
/sql/updates/hotfixes/master/NameFile.sql
/sql/updates/hotfixes/master/single sql file.bat
/sql/updates/world/master/NameFile.sql
/sql/updates/world/master/single sql file.bat
